/* .conteneur {
    display: flex;
    justify-content: center;
} */

.pub {
    width: 300px;
    height: 600px;
}

img {
    max-width: unset;
}


.img_thumb {
    height: 290px;
    width: 300px;
}

.section {
    height: 631px;
    width: 780px;
}