.conteneur {
    width: 755px;
    height: 1174px;
    display: flex;
    justify-content: center;
    /* left: 0; */
}

.pub {
    width: 300px;
    height: 600px;
}

img {
    max-width: unset;
}


.img_thumb {
    height: 290px;
    width: 300px;
}